@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 50px;
}

.logo {
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    transition: 0.3s all;
}
.navigation .item {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    transition: 0.3s all;
}

.item:hover,
.logo:hover {
    color: rgb(255, 165, 30);
}

.container {
    margin: 80px 0;
}

.cards-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 30px;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.card {
    color: white;
    display: flex;
    align-items: center;
    width: 600px;
    height: 220px;
    overflow: hidden;
    margin: 0.75rem;
}

.image {
    width: 100%;
    flex: 2 1 0%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.content {
    position: relative;
    background-color: #252323;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 3 1 0%;
    padding: 0 20px;
    height: 100%;
}
.content a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 1.5em;
    font-weight: 800;
    transition: 0.3s all;
    margin-bottom: 10px;
}
.title:hover {
    color: rgb(255, 165, 30);
}

.alive {
    color: rgb(85, 204, 68);
}
.dead {
    color: rgb(214, 61, 46);
}

.unknown {
    color: rgb(255, 165, 30);
}

.status {
    margin-bottom: 20px;
}
.content p {
    color: #919191;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

form .field {
    height: 50px;
    width: 400px;
    border-bottom: 2px solid rgb(61, 61, 61);
    padding: 5px 0 8px 0;
}

.field .message {
    padding: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    font-weight: 800;
    transition: 0.3s all;
    margin: 0 0.75rem;
    letter-spacing: 3px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(255, 165, 30);
    border-color: rgb(255, 165, 30) !important;
    color: white;
    transition: 0.3s all;
}
